$themes: (
        blue:(
                primary-bg: #00aaff,
                primary-color: #ff0,
                menu-bg: #00aaff,
                menu-text-color: #f00,
                normal-size: 12px,
                big-size: 20px
),
        black:(
                primary-bg: #000,
                primary-color: #f00,
                menu-bg: #343346,
                menu-text-color: #ff0,
                normal-size: 20px,
                big-size: 40px
        ),
)
